<div class="block_social">
  <ul class="list-inline mb-0 d-flex">
    {% if settings.social_facebook_link != blank %}
      <li class="list-inline-item">
        <a
          href="{{ settings.social_facebook_link | escape }}"
          title="{{ 'general.social.social_platform' | t: name: shop.name, platform: 'Facebook' }}"
        >
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.5988 13.5H17.1155L18.1221 9.5H14.5988V7.5C14.5988 6.47 14.5988 5.5 16.6122 5.5H18.1221V2.14C17.794 2.097 16.5548 2 15.2461 2C12.513 2 10.5722 3.657 10.5722 6.7V9.5H7.55225V13.5H10.5722V22H14.5988V13.5Z" fill="currentColor"/>
          </svg>
        </a>
      </li>
    {% endif %}

    {% if settings.social_instagram_link != blank %}
      <li class="list-inline-item">
        <a
          href="{{ settings.social_instagram_link | escape }}"
          title="{{ 'general.social.social_platform' | t: name: shop.name, platform: 'Instagram' }}"
        >
          <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.2376 6.22517C16.1334 6.22517 16.0335 6.18378 15.9598 6.1101C15.8861 6.03643 15.8447 5.9365 15.8447 5.83231C15.8447 5.72812 15.8861 5.62819 15.9598 5.55452C16.0335 5.48084 16.1334 5.43945 16.2376 5.43945M16.2376 6.22517C16.3418 6.22517 16.4417 6.18378 16.5154 6.1101C16.5891 6.03643 16.6304 5.9365 16.6304 5.83231C16.6304 5.72812 16.5891 5.62819 16.5154 5.55452C16.4417 5.48084 16.3418 5.43945 16.2376 5.43945" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M1.34825 5.89094C1.34825 4.8186 1.77424 3.79017 2.5325 3.03191C3.29077 2.27364 4.31919 1.84766 5.39154 1.84766H16.1747C16.7057 1.84766 17.2314 1.95224 17.722 2.15543C18.2125 2.35863 18.6583 2.65645 19.0337 3.03191C19.4092 3.40736 19.707 3.85309 19.9102 4.34364C20.1134 4.8342 20.218 5.35997 20.218 5.89094V16.6741C20.218 17.7464 19.792 18.7749 19.0337 19.5331C18.2755 20.2914 17.247 20.7174 16.1747 20.7174H5.38997C4.31762 20.7174 3.28919 20.2914 2.53093 19.5331C1.77267 18.7749 1.34668 17.7464 1.34668 16.6741V5.88937L1.34825 5.89094Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M6.77637 11.2825C6.77637 11.8088 6.88002 12.3298 7.08139 12.816C7.28277 13.3022 7.57793 13.7439 7.95003 14.116C8.32213 14.4881 8.76387 14.7833 9.25004 14.9847C9.73621 15.186 10.2573 15.2897 10.7835 15.2897C11.3097 15.2897 11.8308 15.186 12.317 14.9847C12.8031 14.7833 13.2449 14.4881 13.617 14.116C13.9891 13.7439 14.2843 13.3022 14.4856 12.816C14.687 12.3298 14.7907 11.8088 14.7907 11.2825C14.7907 10.2198 14.3685 9.20054 13.617 8.44906C12.8655 7.69757 11.8463 7.27539 10.7835 7.27539C9.72075 7.27539 8.70152 7.69757 7.95003 8.44906C7.19855 9.20054 6.77637 10.2198 6.77637 11.2825Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </li>
    {% endif %}

    {% if settings.social_twitter_link != blank %}
      <li class="list-inline-item">
        <a
          href="{{ settings.social_twitter_link | escape }}"
          title="{{ 'general.social.social_platform' | t: name: shop.name, platform: 'Twitter' }}"
        >
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.3394 2.25H21.6621L14.403 10.51L22.9428 21.75H16.2552L11.018 14.933L5.02552 21.75H1.70081L9.46516 12.915L1.27393 2.25H8.12925L12.8632 8.481L18.3374 2.25H18.3394ZM17.1733 19.77H19.0144L7.12983 4.126H5.15409L17.1733 19.77Z" fill="currentColor"/>
         </svg>
        </a>
      </li>
    {% endif %}

    {% if settings.social_pinterest_link != blank %}
      <li class="list-inline-item">
        <a
          href="{{ settings.social_pinterest_link | escape }}"
          title="{{ 'general.social.social_platform' | t: name: shop.name, platform: 'Pinterest' }}"
        >
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.56415 21.54C10.5305 21.83 11.507 22 12.5439 22C15.2137 22 17.7741 20.9464 19.662 19.0711C21.5498 17.1957 22.6104 14.6522 22.6104 12C22.6104 10.6868 22.35 9.38642 21.8441 8.17317C21.3383 6.95991 20.5968 5.85752 19.662 4.92893C18.7272 4.00035 17.6175 3.26375 16.3962 2.7612C15.1748 2.25866 13.8658 2 12.5439 2C11.2219 2 9.91288 2.25866 8.69155 2.7612C7.47022 3.26375 6.36049 4.00035 5.42572 4.92893C3.53788 6.8043 2.47729 9.34784 2.47729 12C2.47729 16.25 5.16507 19.9 8.96016 21.34C8.86956 20.56 8.77896 19.27 8.96016 18.38L10.1178 13.44C10.1178 13.44 9.82588 12.86 9.82588 11.94C9.82588 10.56 10.6916 9.53 11.6781 9.53C12.5439 9.53 12.9465 10.16 12.9465 10.97C12.9465 11.83 12.3727 13.06 12.0808 14.24C11.9097 15.22 12.6043 16.08 13.6109 16.08C15.4028 16.08 16.7919 14.18 16.7919 11.5C16.7919 9.1 15.0605 7.46 12.5741 7.46C9.73528 7.46 8.06424 9.56 8.06424 11.77C8.06424 12.63 8.3461 13.5 8.80916 14.07C8.89976 14.13 8.89976 14.21 8.86956 14.36L8.57763 15.45C8.57763 15.62 8.4669 15.68 8.29577 15.56C7.00725 15 6.26232 13.18 6.26232 11.71C6.26232 8.55 8.51723 5.68 12.866 5.68C16.3289 5.68 19.0267 8.15 19.0267 11.43C19.0267 14.87 16.8825 17.63 13.8122 17.63C12.8358 17.63 11.8795 17.11 11.5372 16.5L10.8627 18.87C10.6312 19.73 9.99702 20.88 9.56415 21.57V21.54Z" fill="currentColor"/>
          </svg>
        </a>
      </li>
    {% endif %}

    {% if settings.social_youtube_link != blank %}
      <li class="list-inline-item">
        <a
          href="{{ settings.social_youtube_link | escape }}"
          title="{{ 'general.social.social_platform' | t: name: shop.name, platform: 'YouTube' }}"
        >
          <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.3867 10.5123L9.52637 7.85297C9.2469 7.70006 8.91658 7.70577 8.64265 7.86808C8.36856 8.03055 8.20508 8.31757 8.20508 8.63614V13.9092C8.20508 14.2263 8.36755 14.5128 8.6398 14.6754C8.78197 14.7604 8.93958 14.803 9.09752 14.803C9.2422 14.803 9.38722 14.7672 9.52066 14.6954L14.3812 12.0819C14.6697 11.9266 14.8498 11.6267 14.8511 11.2989C14.8523 10.9711 14.6744 10.6698 14.3867 10.5123ZM9.49431 13.2459V9.30484L13.1268 11.2925L9.49431 13.2459Z" fill="currentColor"/>
          <path d="M20.8528 7.54028L20.8518 7.53122C20.8349 7.37181 20.6663 5.95395 19.9702 5.23278C19.1656 4.38453 18.2534 4.28149 17.8148 4.23208C17.7784 4.228 17.7452 4.22422 17.7154 4.22029L17.6805 4.21667C15.0365 4.02629 11.0434 4.0003 11.0034 4.00015L10.9999 4L10.9964 4.00015C10.9564 4.0003 6.96339 4.02629 4.29557 4.21667L4.26032 4.22029C4.23194 4.22407 4.20066 4.22755 4.16663 4.23148C3.73298 4.28103 2.83058 4.38423 2.0237 5.26315C1.36072 5.97661 1.16907 7.36411 1.14938 7.52004L1.14709 7.54028C1.14114 7.60661 1 9.18569 1 10.771V12.2529C1 13.8382 1.14114 15.4173 1.14709 15.4837L1.14816 15.4937C1.1651 15.6505 1.33355 17.0424 2.02645 17.7639C2.78298 18.5837 3.73954 18.6922 4.25406 18.7505C4.33539 18.7598 4.40543 18.7676 4.45319 18.7759L4.49942 18.7823C6.02605 18.9261 10.8125 18.997 11.0155 18.9998L11.0216 19L11.0277 18.9998C11.0677 18.9997 15.0606 18.9737 17.7046 18.7833L17.7395 18.7797C17.7729 18.7753 17.8105 18.7714 17.8517 18.7672C18.2829 18.7218 19.1804 18.6277 19.9761 17.7607C20.6391 17.0471 20.8309 15.6596 20.8505 15.5038L20.8528 15.4836C20.8587 15.4171 21 13.8382 21 12.2529V10.771C20.9998 9.18569 20.8587 7.60676 20.8528 7.54028ZM19.8278 12.2529C19.8278 13.7202 19.6984 15.2313 19.6862 15.37C19.6365 15.7521 19.4343 16.6299 19.1113 16.9776C18.6132 17.5202 18.1016 17.574 17.7281 17.6131C17.6829 17.6178 17.6411 17.6223 17.6033 17.627C15.0459 17.8101 11.2036 17.8382 11.0266 17.8393C10.8281 17.8364 6.11166 17.765 4.63156 17.6288C4.55573 17.6166 4.47379 17.6072 4.38743 17.5975C3.94935 17.5478 3.34968 17.4798 2.88857 16.9776L2.87773 16.9661C2.56035 16.6387 2.36397 15.8178 2.31408 15.3745C2.30477 15.2696 2.17202 13.7407 2.17202 12.2529V10.771C2.17202 9.30536 2.30111 7.79593 2.31362 7.65436C2.37298 7.20425 2.57897 6.37958 2.88857 6.04626C3.40187 5.48722 3.94309 5.42527 4.30106 5.38432C4.33524 5.38039 4.36713 5.37677 4.39658 5.37299C6.99117 5.18896 10.8611 5.16161 10.9999 5.16055C11.1388 5.16146 15.0073 5.18896 17.5789 5.37299C17.6104 5.37692 17.6449 5.38085 17.682 5.38508C18.0502 5.42663 18.6067 5.48948 19.1174 6.02889L19.1221 6.03388C19.4395 6.3613 19.6359 7.19654 19.6858 7.64877C19.6946 7.74773 19.8278 9.27998 19.8278 10.771V12.2529Z" fill="currentColor"/>
          </svg>
        </a>
      </li>
    {% endif %}

    {% if settings.social_dribbble_link != blank %}
      <li class="list-inline-item">
        <a
          href="{{ settings.social_dribbble_link | escape }}"
          title="{{ 'general.social.social_platform' | t: name: shop.name, platform: 'Dribbble' }}"
        >
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.4854 24.8347C5.67632 24.8347 0.136719 19.2953 0.136719 12.486C0.136719 5.67699 5.67632 0.13739 12.4854 0.13739C19.2944 0.13739 24.834 5.67699 24.834 12.486C24.834 19.2953 19.2944 24.8347 12.4854 24.8347ZM12.4854 0.686218C5.97899 0.686218 0.685547 5.97967 0.685547 12.486C0.685547 18.9924 5.97899 24.2858 12.4854 24.2858C18.9917 24.2858 24.2852 18.9924 24.2852 12.486C24.2852 5.97967 18.9917 0.686218 12.4854 0.686218Z" fill="currentColor"/>
            <path d="M3.39132 11.4864C2.44707 11.4864 1.47454 11.4543 0.472656 11.39L0.507781 10.8423C10.0365 11.4532 16.9098 9.12064 20.9349 3.91034L21.369 4.24595C17.6529 9.0567 11.6128 11.4864 3.39132 11.4864Z" fill="currentColor"/>
            <path d="M4.59685 21.568L4.13281 21.2755C9.13044 13.3493 16.0144 10.6535 24.5939 13.2651L24.4342 13.79C16.1211 11.2605 9.44657 13.877 4.59685 21.568Z" fill="currentColor"/>
            <path d="M17.6107 23.3449C15.8753 14.8715 12.6062 7.48705 7.89453 1.39753L8.32865 1.06165C13.0919 7.21812 16.3959 14.6783 18.1483 23.2349L17.6107 23.3449Z" fill="currentColor"/>
          </svg>
        </a>
      </li>
    {% endif %}

    {% if settings.social_tumblr_link != blank %}
      <li class="list-inline-item">
        <a
          href="{{ settings.social_tumblr_link | escape }}"
          title="{{ 'general.social.social_platform' | t: name: shop.name, platform: '' }}"
        >
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.3539 24.8347C11.6394 24.8347 8.87139 22.9236 8.87139 18.3522V11.0308H5.49609V7.06635C9.21056 6.10178 10.7643 2.9054 10.9432 0.13739H14.8001V6.42339H19.3002V11.0308H14.8001V17.406C14.8001 19.317 15.7647 19.9775 17.3 19.9775H19.4791V24.8347H15.3539Z" fill="currentColor"/>
          </svg>
        </a>
      </li>
    {% endif %}

    {% if settings.social_linkedin_link != blank %}
      <li class="list-inline-item">
        <a
          href="{{ settings.social_linkedin_link | escape }}"
          title="{{ 'general.social.social_platform' | t: name: shop.name, platform: '' }}"
        >
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.542852 8.34507H5.66259V24.8127H0.542852V8.34507ZM3.10286 0.159302C4.73919 0.159302 6.069 1.48911 6.069 3.12819C6.069 4.76562 4.73919 6.09543 3.10286 6.09543C1.46269 6.09543 0.136719 4.76562 0.136719 3.12819C0.136719 1.48911 1.46269 0.159302 3.10286 0.159302Z" fill="currentColor"/>
            <path d="M8.87109 8.3451H13.7804V10.5969H13.8503C14.5336 9.3017 16.2037 7.93732 18.6929 7.93732C23.8758 7.93732 24.8324 11.3469 24.8324 15.7809V24.8127H19.7165V16.8045C19.7165 14.8943 19.6833 12.438 17.0569 12.438C14.3934 12.438 13.987 14.52 13.987 16.6673V24.8127H8.87109V8.3451Z" fill="currentColor"/>
          </svg>
        </a>
      </li>
    {% endif %}

    {% if settings.social_google_link != blank %}
      <li class="list-inline-item">
        <a
          href="{{ settings.social_google_link | escape }}"
          title="{{ 'general.social.social_platform' | t: name: shop.name, platform: '' }}"
        >
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.0407 11.3008C15.1008 11.6872 15.1323 12.0826 15.1323 12.486C15.1323 15.2384 13.9946 17.6516 11.8144 19.0006C10.6457 19.724 9.26757 20.1411 7.79205 20.1411C3.56415 20.1413 0.136719 16.7139 0.136719 12.486C0.136719 8.25812 3.56415 4.83069 7.79205 4.83069C9.73517 4.83069 11.5079 5.55596 12.858 6.74884L10.8378 8.87391C10.0151 8.17936 8.95309 7.75896 7.79205 7.75896C5.18155 7.75896 3.06527 9.87524 3.06527 12.4857C3.06527 15.0962 5.18155 17.2125 7.79205 17.2125C9.26044 17.2125 10.5724 16.543 11.4393 15.4925C11.7491 15.1171 11.9258 14.7162 11.9341 14.2324H7.79726V11.3049L15.0407 11.3008Z" fill="currentColor"/>
            <path d="M24.8332 11.1167H21.7488V8.03229H19.6715V11.1167H16.5898V13.1913H19.6715V16.2757H21.7488V13.1913H24.8332V11.1167Z" fill="currentColor"/>
          </svg>
        </a>
      </li>
    {% endif %}

    {% if settings.social_snapchat_link != blank %}
      <li class="list-inline-item">
        <a
          href="{{ settings.social_snapchat_link | escape }}"
          title="{{ 'general.social.social_platform' | t: name: shop.name, platform: 'Snapchat' }}"
        >
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.6409 24.0792C12.5709 24.0792 12.5042 24.0767 12.4532 24.0742C12.4128 24.0778 12.3711 24.0792 12.3297 24.0792C10.8591 24.0792 9.87587 23.3841 9.00818 22.7702C8.38635 22.3309 7.79966 21.9162 7.11252 21.8018C6.77499 21.7458 6.43939 21.7176 6.11503 21.7176C5.53053 21.7176 5.06869 21.8081 4.73143 21.8742C4.52398 21.9146 4.34506 21.9494 4.20675 21.9494C4.06186 21.9494 3.88596 21.9173 3.8127 21.6668C3.75452 21.4692 3.71281 21.2779 3.67274 21.0935C3.57203 20.6331 3.49904 20.3518 3.32671 20.3252C1.4821 20.0406 0.392398 19.6213 0.175337 19.1136C0.153384 19.0629 0.140212 19.0088 0.137193 18.9537C0.128687 18.8027 0.235434 18.6694 0.384715 18.6449C1.84954 18.4037 3.15163 17.6296 4.25587 16.3432C5.11122 15.3473 5.53108 14.3956 5.57608 14.2908C5.578 14.2859 5.5802 14.2812 5.58267 14.2765C5.79561 13.8449 5.83787 13.4717 5.7089 13.1679C5.47125 12.6076 4.68423 12.3578 4.1634 12.1926C4.03387 12.1518 3.91148 12.1128 3.81379 12.0741C3.35223 11.8919 2.59292 11.5066 2.69418 10.9748C2.76773 10.587 3.28061 10.317 3.69525 10.317C3.81023 10.317 3.91231 10.3373 3.9982 10.3774C4.46662 10.5969 4.88785 10.7081 5.25035 10.7081C5.70094 10.7081 5.91855 10.5366 5.97124 10.4877C5.95752 10.2416 5.9427 9.99569 5.92678 9.74954C5.82113 8.06683 5.68914 5.97278 6.2248 4.77167C7.82792 1.17712 11.2279 0.897487 12.2314 0.897487C12.3972 0.896115 12.5627 0.894469 12.7284 0.892822C13.7347 0.892822 17.1418 1.17272 18.746 4.76947C19.2817 5.97113 19.1497 8.0671 19.0435 9.75146L19.0386 9.83213C19.024 10.061 19.0106 10.2772 18.9993 10.4872C19.049 10.5327 19.2479 10.69 19.6532 10.7059C19.9987 10.6927 20.3958 10.5818 20.833 10.3771C20.968 10.3137 21.1178 10.3006 21.2193 10.3006C21.373 10.3006 21.5291 10.3305 21.6595 10.3848L21.6663 10.3875C22.0374 10.5193 22.2802 10.7824 22.2854 11.0588C22.2901 11.3164 22.0986 11.7017 21.1568 12.0735C21.0602 12.1117 20.9372 12.1509 20.8072 12.1921C20.286 12.3576 19.4996 12.607 19.2619 13.1671C19.1327 13.4709 19.1752 13.8438 19.3882 14.2754C19.3906 14.2801 19.3926 14.2851 19.3948 14.29C19.4603 14.4437 21.0467 18.0607 24.5861 18.6438C24.7354 18.6685 24.8421 18.8016 24.8336 18.9526C24.8301 19.0083 24.8169 19.0629 24.7944 19.1142C24.5787 19.6191 23.4893 20.0376 21.6444 20.3227C21.4712 20.3493 21.3982 20.6292 21.2986 21.0875C21.2575 21.2768 21.2152 21.4621 21.1579 21.6572C21.1041 21.8405 20.9847 21.9302 20.7929 21.9302H20.7641C20.6392 21.9302 20.4622 21.9075 20.2391 21.8638C19.8492 21.7878 19.4118 21.7173 18.8555 21.7173C18.5312 21.7173 18.1956 21.7458 17.8578 21.8015C17.1714 21.916 16.585 22.3298 15.964 22.7688C15.0947 23.3838 14.1112 24.0792 12.6409 24.0792Z" fill="currentColor"/>
          </svg>
        </a>
      </li>
    {% endif %}

    {% if settings.social_vimeo_link != blank %}
      <li class="list-inline-item">
        <a
          href="{{ settings.social_snapchat_link | escape }}"
          title="{{ 'general.social.social_platform' | t: name: shop.name, platform: 'Vimeo' }}"
        >
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M24.8219 6.74743C24.7119 9.1513 23.033 12.4426 19.785 16.6206C16.4273 20.9835 13.586 23.1659 11.2628 23.1659C9.82271 23.1659 8.60459 21.8377 7.60929 19.1798C6.94493 16.7435 6.28085 14.3073 5.61622 11.8707C4.87695 9.21442 4.08471 7.88433 3.2365 7.88433C3.05154 7.88433 2.40503 8.27318 1.29804 9.0473L0.136719 7.55092C1.35567 6.48015 2.5576 5.40967 3.7406 4.33725C5.36623 2.93308 6.58737 2.19436 7.40073 2.11971C9.32218 1.93503 10.5052 3.24865 10.9492 6.0603C11.4291 9.0945 11.7614 10.9814 11.9478 11.7195C12.5024 14.237 13.1121 15.4944 13.7778 15.4944C14.2943 15.4944 15.0712 14.678 16.1068 13.0444C17.1405 11.4119 17.6946 10.1699 17.7692 9.31595C17.9171 7.90683 17.3628 7.20077 16.1068 7.20077C15.5154 7.20077 14.9057 7.33687 14.2786 7.60553C15.4929 3.63064 17.8117 1.70014 21.2342 1.81018C23.7717 1.88509 24.9684 3.53048 24.8219 6.74743Z" fill="currentColor"/>
          </svg>
        </a>
      </li>
    {% endif %}

    {% if settings.social_tiktok != blank %}
      <li class="list-inline-item">
        <a
          href="{{ settings.social_tiktok | escape }}"
          title="{{ 'general.social.social_platform' | t: name: shop.name, platform: 'Tiktok' }}"
        >
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.324 6.32131C21.9124 6.32131 20.6097 5.85371 19.5639 5.06477C18.3645 4.1603 17.5025 2.83378 17.1982 1.30475C17.1225 0.926879 17.0821 0.536937 17.078 0.13739H13.0455V11.1562L13.0406 17.1917C13.0406 18.8052 11.9898 20.1735 10.5332 20.6545C10.1106 20.7942 9.65402 20.8603 9.17846 20.8342C8.57173 20.801 8.00314 20.6177 7.50892 20.3222C6.45709 19.6932 5.74417 18.5519 5.72468 17.2466C5.69422 15.2063 7.34372 13.5431 9.38235 13.5431C9.78491 13.5431 10.1713 13.6087 10.5332 13.728V10.7166V9.63404C10.1515 9.57751 9.76323 9.54815 9.37027 9.54815C7.13874 9.54815 5.05182 10.4757 3.55983 12.1468C2.43226 13.4097 1.75583 15.0208 1.65155 16.7104C1.5149 18.9298 2.32689 21.0395 3.90202 22.5963C4.13335 22.8248 4.37648 23.037 4.63059 23.2326C5.98098 24.2713 7.63186 24.8347 9.37055 24.8347C9.76323 24.8347 10.1518 24.8056 10.5335 24.749C12.1578 24.5084 13.6563 23.765 14.8391 22.5957C16.2924 21.1594 17.0953 19.2525 17.1038 17.223L17.083 8.2101C17.7761 8.74494 18.5343 9.18757 19.3477 9.53086C20.613 10.0646 21.9546 10.3352 23.3352 10.3349V7.40689V6.32049C23.3363 6.32131 23.3248 6.32131 23.324 6.32131Z" fill="currentColor"/>
          </svg>
        </a>
      </li>
    {% endif %}
  </ul>
</div>
