{%- liquid
  assign discount_metafield = product.metafields.pricing.discount
  assign discount_enabled = false
  assign discount_amount = 0
  if discount_metafield != blank
    if discount_metafield.value != blank
      assign discount_data = discount_metafield.value
    else
      assign discount_data = discount_metafield
    endif
    if discount_data.enabled == true or discount_data.enabled == "true"
      assign discount_enabled = true
      assign discount_amount = discount_data.discount_amount | default: 0
    endif
  endif
  
  assign on_sale = false
  if discount_enabled and discount_amount != blank and discount_amount != 0
    assign on_sale = true
    assign current_price_rupees = product.variants[0].price | divided_by: 100.0
    assign price_before_discount = current_price_rupees | plus: discount_amount
    assign price_before_discount_cents = price_before_discount | times: 100
  elsif product.compare_at_price_min > product.price_min
    assign on_sale = true
  endif
-%}

<div class="item-product{% if settings.show_border_product %} h_bd{% endif %}{% if settings.show_background_product %} bg{% endif %}" data-product-id="product-{{ product.id }}" data-json-product='{"variants": {{ product.variants | json | escape }},"media": {{ product.media | json }}}'>
  <div class="inner-top d-flex align-items-center">
    <div class="product-top thumbnail-container{% if settings.show_second_image_product and product.images.size > 1 %} has-multiimage{% endif %}">
      <a href="{{ product.url | within: collection }}">
        {% assign img_url = product.featured_image %}
        <div class="respone_image" style="padding-top:{{ 1 | divided_by: img_url.aspect_ratio | times: 100}}%;">
          <img class="product__thumbnail lazyload" src="{{ img_url | image_url: width: 1 }}" data-src="{{ img_url | image_url: width: 260 }}" data-srcset="{{ img_url | image_url: width: 260 }} 260w,{{ img_url | image_url: width: 360 }} 360w,{{ img_url | image_url: width: 540 }} 540w,{{ img_url | image_url: width: 720 }} 720w,{{ img_url | image_url: width: 900 }} 900w,{{ img_url | image_url: width: 1080 }} 1080w" data-sizes="auto" alt="{{ img_url.alt }}" width="{{ img_url.width }}" height="{{ img_url.height }}" loading="lazy" style="height: auto;">
          {% for image in product.images %}
            {% assign img_url = image.src %}
            {% if forloop.first != true and settings.show_second_image_product %}
              <img class="product__thumbnail-second lazyload" src="{{ img_url | image_url: width: 1 }}" data-src="{{ img_second | image_url: width: 260 }}" data-srcset="{{ img_url | image_url:width: 260 }} 260w,{{ img_url | image_url: width: 360 }} 360w,{{ img_url | image_url: width: 540 }} 540w,{{ img_url | image_url: width: 720 }} 720w,{{ img_url | image_url: width: 900 }} 900w,{{ img_url | image_url: width: 1080 }} 1080w" data-sizes="auto" alt="{{ img_url.alt }}" width="{{ img_url.width }}" height="{{ img_url.height }}" loading="lazy" style="height: auto;">
              {% break %}
            {% endif %}
          {% endfor %}
        </div>
      </a>
    </div>
    {% assign date_created = product.created_at | date:'%s' %}
    {% assign date_now = 'now' | date:'%s' %}
    {% assign difference = date_now | minus: date_created %}
    {% assign date_end = settings.time_newproduct | times: 86400 %}
    <div class="product--badge">
      {% if difference < date_end and settings.show_badge_new_product %}
        <div class="badge badge-new">{{ 'products.product.new' | t }}</div>
      {% endif %}
      {% if product.compare_at_price > product.price and settings.show_badge_sale_product %}
        <span class="badge badge-sale">-{{ product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price | round: 4 }}%</span>
      {% endif %}
    </div>
    <div class="product__info">
      {% if settings.show_rating %}
        <div class="AirReviews-Widget AirReviews-Widget--Stars" data-review-avg="{{ product.metafields.air_reviews_product.review_avg }}" data-review-count="{{ product.metafields.air_reviews_product.review_count }}"></div>
      {% endif %}
      <div class="product__title {{ settings.title_product_line }}"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></div>
      <div class="price-box price-st">
        {% if on_sale %}
          <div class="price-sale">
            <span class="special-price" data-price-grid>{{ product.variants[0].price | money }}</span>
            {% if discount_enabled and discount_amount != blank and discount_amount != 0 %}
              <s class="old-price" data-compare-price-grid>{{ price_before_discount_cents | money }}</s>
            {% else %}
              <span class="old-price" data-compare-price-grid>{{ product.variants[0].compare_at_price | money }}</span>
            {% endif %}
          </div>
        {% else %}
          <div class="price-regular">
            <span data-price-grid>{{ product.variants[0].price | money }}</span>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>