{%- assign sst = section.settings -%}

{%- liquid 
  assign sst = section.settings

  if section.settings.ss_bg_enable
    assign bg = " bg"
  endif
  if section.settings.class_section != blank
    assign class_section = section.settings.class_section | prepend: ' '
  endif
  assign class = 'distance' | append: bg | append: ' ' | append: section.settings.background_position | append: class_section
  if section.settings.background_size == 'full'
    assign bg_class_full = class | prepend: ' '
  else
    assign bg_class_contain = class | prepend: ' '
  endif

  assign collection = collections[sst.collection]
  assign limit = sst.limit
-%}
{% style %}
  {% render 'nov-section-style' %}

  #shopify-section-{{ section.id }} .pagination__count {
    color:  {{ sst.c_pagination }};
  }
  #shopify-section-{{ section.id }} .pagination__bar {
    background-color: {{ sst.bg_pagination }};
  }
  #shopify-section-{{ section.id }} .progress {
    background-color: {{ sst.bg_progress }};
  }
  #shopify-section-{{ section.id }} .item-product {
    margin-bottom: {{ sst.spacing }}px;
  }
{% endstyle %}
<div class="container-outer color-{{ sst.color_section }}{{ bg_class_full }}">
  <div class="{{ sst.container }}">
    <div class="container-inner{{ bg_class_contain }}">
      {% render 'heading-section', sub_position: sst.subheading_position %}
      {% paginate collection.products by limit %}
        <div class="row grid--view-items spacing-{{ sst.spacing }} product__loadmore-{{ section.id }}" data-xxl="{{ sst.xxl }}" data-xl="{{ sst.xl }}" data-lg="{{ sst.lg }}" data-md="{{ sst.md }}" data-sm="{{ sst.sm }}" data-xs="{{ sst.xs }}">
          {% for product in collection.products %}
            <div class="item {% render 'number-to-col' %} wow fadeInUp">
              {% render 'product-grid-item-style-1', product: product, section_id: section.id %}
            </div>
          {% else %}
            {%- for i in (1..8) -%}
              {%- capture current -%}{% cycle 1, 2, 3, 4 %}{%- endcapture -%}
              <div class="item {% render 'number-to-col' %} mb-30 wow fadeInUp">
                {{ 'product-apparel-' | append: current | placeholder_svg_tag : 'placeholder-svg' }}
              </div>
            {%- endfor -%}
          {% endfor %}
        </div>
        {% if paginate.next %}
          <div class="product-loadmore__bottom text-center mt-55">
            <div class="pagination__count pagination__count{{ section.id }} mb-15">
              {{ 'collections.general.product_count_html' | t: count: collection.products.size, total: collection.products_count }}
            </div>
            <div class="pagination__bar pagination__bar{{ section.id }} position-relative mb-30" data-max="{{ collection.products_count }}">
              <span class="progress position-absolute" style="width: {{ collection.products.size | times: 100 | divided_by: collection.products_count }}%"></span>
            </div>
            <div class="btn btn_loadmore {{ section.id }} d-inline-flex align-items-center justify-content-center" btn-handle="{{ section.id }}" link="{{ paginate.next.url }}">
              <span>{{ sst.loadmore }}</span>
              <div class="load"></div>
            </div>
          </div>
        {% endif %}
      {% endpaginate %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product Load More",
    "class": "section-product-loadmore",
    "settings":[
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading",
        "default": "<p>Vinova Product Loadmore</p>"
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "Heading color",
        "default": "#222222"
      },
      {
        "type": "richtext",
        "id": "subheading",
        "label": "Sub heading",
        "default": "<p>Subtitle from happy customers</p>"
      },
      {
        "type": "color",
        "id": "subheading_color",
        "label": "Sub heading color",
        "default": "#666666"
      },
      {
        "type": "richtext",
        "id": "descheading",
        "label": "Description",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
      },
      {
        "type": "color",
        "id": "descheading_color",
        "label": "Description color",
        "default": "#666666"
      },
      {
        "type": "select",
        "id": "subheading_position",
        "label": "Sub heading position",
        "default": "bottom",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "select",
        "id": "heading_alignment",
        "label": "Heading alignment",
        "default": "text-center",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          },
          {
            "value": "text-right",
            "label": "Right"
          }
        ]
      },
      {
        "label": "Collection",
        "id": "collection",
        "type": "collection"
      },
      {
        "type": "range",
        "id": "limit",
        "min": 1,
        "max": 20,
        "step": 1,
        "label": "Product initial",
        "default": 8
      },
      {
        "type":  "header",
        "content": "Product Item Per Row"
      },
      {
        "type": "range",
        "id": "xxl",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Desktop",
        "default": 4,
        "info": "Breakpoint 1441px"
      },
      {
        "type": "range",
        "id": "xl",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Large laptop",
        "default": 4,
        "info": "Breakpoint 1200px"
      },
      {
        "type": "range",
        "id": "lg",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Laptop",
        "default": 4,
        "info": "Breakpoint 992px"
      },
      {
        "type": "range",
        "id": "md",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Tablet",
        "default": 4,
        "info": "Breakpoint 768px"
      },
      {
        "type": "range",
        "id": "sm",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Large mobile",
        "default": 4,
        "info": "Breakpoint 576px"
      },
      {
        "type": "range",
        "id": "xs",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Mobile",
        "default": 2
      },
      {
        "type": "range",
        "id": "spacing",
        "min": 0,
        "max": 30,
        "step": 5,
        "label": "Spacing",
        "unit": "px",
        "default": 30,
        "info": "Spacing item"
      },
      {
        "type":  "header",
        "content": "Section Style"
      },
      {
        "type": "color",
        "id": "c_pagination",
        "label": "Pagination color",
        "default": "#666666"
      },
      {
        "type": "color",
        "id": "bg_pagination",
        "label": "Pagination background",
        "default": "#b0b0b0"
      },
      {
        "type": "color",
        "id": "bg_progress",
        "label": "Progress background",
        "default": "#000000"
      },
      {
        "type": "text",
        "id": "loadmore",
        "label": "Load more button",
        "default": "Load more"
      },
      {
        "type": "color",
        "id": "c_btn",
        "label": "Button color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "b_btn",
        "label": "Button background color",
        "default": "#222222"
      },
      {
        "type": "color",
        "id": "c_btn_h",
        "label": "Button color hover",
        "default": "#ffffff"
      },
      {   
        "type": "color",
        "id": "b_btn_h",
        "label": "Button background color hover",
        "default": "#222222"
      },
      {
        "type": "select",
        "id": "container",
        "label": "Container",
        "default": "container",
        "options": [
          { "value": "container", "label": "Container" },
          { "value": "container-fluid", "label": "Container fluid"},
          { "value": "container-full", "label": "Container full width"}
        ]
      },
      {
        "type": "color_scheme",
        "id": "color_section",
        "label": "Color section",
        "default": "background-1"
      },
      {
        "type": "text",
        "id": "class_section",
        "label": "Class"
      },
      {
        "type":  "header",
        "content": "Section Background"
      },
      {
        "type": "checkbox",
        "id": "ss_bg_enable",
        "label": "Enable"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background colors",
        "default": "#ffffff"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "range",
        "id": "background_corner",
        "min": 0,
        "max": 50,
        "step": 1,
        "label": "Corner background",
        "unit": "px",
        "default": 0
      },
      {
        "type": "select",
        "id": "background_img_size",
        "label": "Background image size",
        "default": "cover",
        "options": [
          { "value": "auto", "label": "Auto" },
          { "value": "cover", "label": "Cover" },
          { "value": "contain", "label": "Contain" }
        ]
      },
      {
        "type": "checkbox",
        "id": "enable_background_img_size_custom",
        "label": "Enable background image size custom"
      },
      {
        "type": "text",
        "id": "background_img_size_custom",
        "label": "Background image size custom",
        "info": "Replace base background size, unit % or px"
      },
      {
        "type": "select",
        "id": "background_img_position",
        "label": "Background image position",
        "default": "center center",
        "options": [
          { "value": "top left", "label": "Top left" },
          { "value": "top center", "label": "Top center" },
          { "value": "top right", "label": "Top right" },
          { "value": "center left", "label": "Center left" },
          { "value": "center center", "label": "Center middle" },
          { "value": "center right", "label": "Center right" },
          { "value": "bottom left", "label": "Bottom left" },
          { "value": "bottom center", "label": "Bottom center" },
          { "value": "bottom right", "label": "Bottom right" }
        ]
      },
      {
        "type": "select",
        "id": "background_position",
        "label": "Background position",
        "default": "bg-center",
        "options": [
          { "value": "bg-top", "label": "Top" },
          { "value": "bg-center", "label": "Center" },
          { "value": "bg-bottom", "label": "Bottom" }
        ]
      },
      {
        "type": "select",
        "id": "background_size",
        "label": "Background size",
        "default": "full",
        "options": [
          { "value": "full", "label": "Full" },
          { "value": "contain", "label": "Contain"}
        ]
      },
      {
        "type": "range",
        "id": "height_background_xxl",
        "min": 10,
        "max": 100,
        "step": 1,
        "label": "Height background",
        "default": 100,
        "unit": "%",
        "info": "Breakpoint 1441px ↑"
      },
      {
        "type": "range",
        "id": "height_background_xl",
        "min": 10,
        "max": 100,
        "step": 1,
        "label": "Height background",
        "default": 100,
        "unit": "%",
        "info": "Breakpoint 1200px ↑"
      },
      {
        "type": "range",
        "id": "height_background_lg",
        "min": 10,
        "max": 100,
        "step": 1,
        "label": "Height background",
        "default": 100,
        "unit": "%",
        "info": "Breakpoint 992px ↑"
      },
      {
        "type": "range",
        "id": "height_background_md",
        "min": 10,
        "max": 100,
        "step": 1,
        "label": "Height background",
        "default": 100,
        "unit": "%",
        "info": "Breakpoint 768px ↑"
      },
      {
        "type": "range",
        "id": "height_background_sm",
        "min": 10,
        "max": 100,
        "step": 1,
        "label": "Height background",
        "default": 100,
        "unit": "%",
        "info": "Breakpoint 576px ↑"
      },
      {
        "type": "range",
        "id": "height_background_xs",
        "min": 10,
        "max": 100,
        "step": 1,
        "label": "Height background",
        "default": 100,
        "unit": "%",
        "info": "Breakpoint 575px ↓"
      },
      {
        "type": "header",
        "content": "Spacing Top (px)"
      },
      {
        "type": "number",
        "id": "distance_top_xl",
        "label": "Large laptop",
        "default": 30,
        "info": "Breakpoint 1200px"
      },
      {
        "type": "number",
        "id": "distance_top_lg",
        "label": "Laptop",
        "default": 30,
        "info": "Breakpoint 992px"
      },
      {
        "type": "number",
        "id": "distance_top_md",
        "label": "Tablet",
        "default": 30,
        "info": "Breakpoint 768px"
      },
      {
        "type": "number",
        "id": "distance_top_sm",
        "label": "Mobile",
        "default": 30
      },
      {
        "type": "header",
        "content": "Spacing Bottom (px)"
      },
      {
        "type": "number",
        "id": "distance_bottom_xl",
        "label": "Large laptop",
        "default": 30,
        "info": "Breakpoint 1200px"
      },
      {
        "type": "number",
        "id": "distance_bottom_lg",
        "label": "Laptop",
        "default": 30,
        "info": "Breakpoint 992px"
      },
      {
        "type": "number",
        "id": "distance_bottom_md",
        "label": "Tablet",
        "default": 30,
        "info": "Breakpoint 768px"
      },
      {
        "type": "number",
        "id": "distance_bottom_sm",
        "label": "Mobile",
        "default": 30
      }
    ],
    "presets":[
      {
        "name": "Vinova Product Load More",
        "category": "Collection"
      }
    ]
  }
{% endschema %}