{%- liquid
  assign sst = section.settings
  if section.settings.ss_bg_enable
    assign bg = " bg"
  endif
  if section.settings.class_section != blank
    assign class_section = section.settings.class_section | prepend: ' '
  endif
  assign class = 'distance' | append: bg | append: ' ' | append: section.settings.background_position | append: class_section
  if sst.background_size == 'full'
    assign bg_class_full = class | prepend: ' '
  else
    assign bg_class_contain = class | prepend: ' '
  endif
-%}
{%- style -%}
  {% render 'nov-section-style' %}

  #shopify-section-{{ section.id }} .nov-accordion__title {
    color: {{ sst.title_c }};
  }
  #shopify-section-{{ section.id }} .nov-accordion__item.act .nov-accordion__title,
  #shopify-section-{{ section.id }} .nov-accordion__item:hover .nov-accordion__title {
    color: {{ sst.title_ca }};
  }
  #shopify-section-{{ section.id }} .nov-accordion__content {
    color: {{ sst.content_c }};
  }
{%- endstyle -%}

<div class="container-outer color-{{ sst.color_section }}{{ bg_class_full }}">
  <div class="{{ sst.container }}">
    <div class="container-inner{{ bg_class_contain }}">
      {% render 'heading-section', sub_position: sst.subheading_position %}
      <div class="d-sm-flex">
        <ul class="nav nav-tabs list-unstyled d-flex d-sm-block mb-md-30">
          {% for block in section.blocks %}
            <li class="nav-item d-flex align-items-center{% unless forloop.last %} mb-50 mb-xs-0{% endunless %}">
            <a href="#" class="nav-link tab-links d-flex align-items-center{% if forloop.first %} active{% endif %}" data-target="#{{ forloop.index }}{{ section.id }}" data-toggle="tab">
              {% if block.settings.icon != blank %}
                <span class="item-icon">
                  {% render 'nov-aspect-image', image: block.settings.icon %}
                </span>
              {% elsif block.settings.svg != blank %}
                <span class="item-icon">{{ block.settings.svg }}</span>
              {% endif %}
              <span class="font-600 h5 f_pr mb-0">{{ block.settings.heading }}</span>
            </a>
            </li>
          {% endfor %}
        </ul>

        <div class="block-tab-accordion position-relative">
          {% for block in section.blocks %}
            <div class="tab-content{% if forloop.first %} active{% endif %}" id="{{ forloop.index }}{{ section.id }}">
              <div class="block_accordion">
                <div class="nov-accordion">
                  {% for i in (1..5) %}
                    {%- liquid
                      assign title_id = 'title' | append: i
                      assign content_id = 'content' | append: i
                    -%}
                    {% if block.settings[title_id] != blank or block.settings[content_id] != blank %}
                      <div class="nov-accordion__item{% if sst.animate %} wow fadeInUp{% endif %}" data-wow-delay="{{ forloop.index | times: 0.1 }}s">
                        <div class="nov-accordion__title h3{% if forloop.first %} act{% endif %}">
                          {{ block.settings[title_id] }}
                        </div>
                        <div class="nov-accordion__content">
                          <div class="block">
                            {{ block.settings[content_id] }}
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Tab With Accordion",
    "class": "section-tab-accordion",
    "settings": [
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading",
        "default": "<p>Tab With Accordion</p>"
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "Heading color",
        "default": "#222222"
      },
      {
        "type": "richtext",
        "id": "subheading",
        "label": "Sub heading",
        "default": "<p>Subtitle from happy customers</p>"
      },
      {
        "type": "color",
        "id": "subheading_color",
        "label": "Sub heading color",
        "default": "#666666"
      },
      {
        "type": "richtext",
        "id": "descheading",
        "label": "Description",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
      },
      {
        "type": "color",
        "id": "descheading_color",
        "label": "Description color",
        "default": "#666666"
      },
      {
        "type": "select",
        "id": "subheading_position",
        "label": "Sub heading position",
        "default": "bottom",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "select",
        "id": "heading_alignment",
        "label": "Heading alignment",
        "default": "text-left",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          },
          {
            "value": "text-right",
            "label": "Right"
          }
        ]
      },
      {
        "type":  "header",
        "content": "Style Item"
      },
      {
        "type": "color",
        "id": "title_c",
        "label": "Title color",
        "default": "#222"
      },
      {
        "type": "color",
        "id": "title_ca",
        "label": "Title color active",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "content_c",
        "label": "Content color",
        "default": "#666"
      },
      {
        "type":  "header",
        "content": "Section Style"
      },
      {
        "type": "checkbox",
        "id": "animate",
        "label": "Show animated",
        "default": false
      },
      {
        "type": "select",
        "id": "container",
        "label": "Container",
        "default": "container",
        "options": [
          { "value": "container", "label": "Container" },
          { "value": "container-fluid", "label": "Container fluid" },
          { "value": "container-full", "label": "Container full width" }
        ]
      },
      {
        "type": "text",
        "id": "class_section",
        "label": "Class"
      },
      {
        "type":  "header",
        "content": "Section Background"
      },
      {
        "type": "checkbox",
        "id": "ss_bg_enable",
        "label": "Enable"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background colors",
        "default": "#ffffff"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "range",
        "id": "background_corner",
        "min": 0,
        "max": 50,
        "step": 1,
        "label": "Corner background",
        "unit": "px",
        "default": 0
      },
      {
        "type": "select",
        "id": "background_img_size",
        "label": "Background image size",
        "default": "cover",
        "options": [
          { "value": "auto", "label": "Auto" },
          { "value": "cover", "label": "Cover" },
          { "value": "contain", "label": "Contain" }
        ]
      },
      {
        "type": "checkbox",
        "id": "enable_background_img_size_custom",
        "label": "Enable background image size custom"
      },
      {
        "type": "text",
        "id": "background_img_size_custom",
        "label": "Background image size custom",
        "info": "Replace base background size, unit % or px"
      },
      {
        "type": "select",
        "id": "background_img_position",
        "label": "Background image position",
        "default": "center center",
        "options": [
          { "value": "top left", "label": "Top left" },
          { "value": "top center", "label": "Top center" },
          { "value": "top right", "label": "Top right" },
          { "value": "center left", "label": "Center left" },
          { "value": "center center", "label": "Center middle" },
          { "value": "center right", "label": "Center right" },
          { "value": "bottom left", "label": "Bottom left" },
          { "value": "bottom center", "label": "Bottom center" },
          { "value": "bottom right", "label": "Bottom right" }
        ]
      },
      {
        "type": "select",
        "id": "background_position",
        "label": "Background position",
        "default": "bg-center",
        "options": [
          { "value": "bg-top", "label": "Top" },
          { "value": "bg-center", "label": "Center" },
          { "value": "bg-bottom", "label": "Bottom" }
        ]
      },
      {
        "type": "select",
        "id": "background_size",
        "label": "Background size",
        "default": "full",
        "options": [
          { "value": "full", "label": "Full" },
          { "value": "contain", "label": "Contain"}
        ]
      },
      {
        "type": "range",
        "id": "height_background_xxl",
        "min": 10,
        "max": 100,
        "step": 1,
        "label": "Height background",
        "default": 100,
        "unit": "%",
        "info": "Breakpoint 1441px ↑"
      },
      {
        "type": "range",
        "id": "height_background_xl",
        "min": 10,
        "max": 100,
        "step": 1,
        "label": "Height background",
        "default": 100,
        "unit": "%",
        "info": "Breakpoint 1200px ↑"
      },
      {
        "type": "range",
        "id": "height_background_lg",
        "min": 10,
        "max": 100,
        "step": 1,
        "label": "Height background",
        "default": 100,
        "unit": "%",
        "info": "Breakpoint 992px ↑"
      },
      {
        "type": "range",
        "id": "height_background_md",
        "min": 10,
        "max": 100,
        "step": 1,
        "label": "Height background",
        "default": 100,
        "unit": "%",
        "info": "Breakpoint 768px ↑"
      },
      {
        "type": "range",
        "id": "height_background_sm",
        "min": 10,
        "max": 100,
        "step": 1,
        "label": "Height background",
        "default": 100,
        "unit": "%",
        "info": "Breakpoint 576px ↑"
      },
      {
        "type": "range",
        "id": "height_background_xs",
        "min": 10,
        "max": 100,
        "step": 1,
        "label": "Height background",
        "default": 100,
        "unit": "%",
        "info": "Breakpoint 575px ↓"
      },
      {
        "type": "header",
        "content": "Spacing Top (px)"
      },
      {
        "type": "number",
        "id": "distance_top_xl",
        "label": "Large laptop",
        "default": 30,
        "info": "Breakpoint 1200px"
      },
      {
        "type": "number",
        "id": "distance_top_lg",
        "label": "Laptop",
        "default": 30,
        "info": "Breakpoint 992px"
      },
      {
        "type": "number",
        "id": "distance_top_md",
        "label": "Tablet",
        "default": 30,
        "info": "Breakpoint 768px"
      },
      {
        "type": "number",
        "id": "distance_top_sm",
        "label": "Mobile",
        "default": 30
      },
      {
        "type": "header",
        "content": "Spacing Bottom (px)"
      },
      {
        "type": "number",
        "id": "distance_bottom_xl",
        "label": "Large laptop",
        "default": 30,
        "info": "Breakpoint 1200px"
      },
      {
        "type": "number",
        "id": "distance_bottom_lg",
        "label": "Laptop",
        "default": 30,
        "info": "Breakpoint 992px"
      },
      {
        "type": "number",
        "id": "distance_bottom_md",
        "label": "Tablet",
        "default": 30,
        "info": "Breakpoint 768px"
      },
      {
        "type": "number",
        "id": "distance_bottom_sm",
        "label": "Mobile",
        "default": 30
      }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          },
          {
            "type": "html",
            "id": "svg",
            "label": "SVG icon"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "header",
            "content": "Accordion Item 1"
          },
          {
            "type": "inline_richtext",
            "id": "title1",
            "label": "Title",
            "default": "Lorem ipsum dolor sit amet"
          },
          {
            "type": "richtext",
            "id": "content1",
            "label": "Content"
          },
          {
            "type": "header",
            "content": "Accordion Item 2"
          },
          {
            "type": "inline_richtext",
            "id": "title2",
            "label": "Title",
            "default": "Lorem ipsum dolor sit amet"
          },
          {
            "type": "richtext",
            "id": "content2",
            "label": "Content"
          },
          {
            "type": "header",
            "content": "Accordion Item 3"
          },
          {
            "type": "inline_richtext",
            "id": "title3",
            "label": "Title",
            "default": "Lorem ipsum dolor sit amet"
          },
          {
            "type": "richtext",
            "id": "content3",
            "label": "Content"
          },
          {
            "type": "header",
            "content": "Accordion Item 4"
          },
          {
            "type": "inline_richtext",
            "id": "title4",
            "label": "Title",
            "default": "Lorem ipsum dolor sit amet"
          },
          {
            "type": "richtext",
            "id": "content4",
            "label": "Content"
          },
          {
            "type": "header",
            "content": "Accordion Item 5"
          },
          {
            "type": "inline_richtext",
            "id": "title5",
            "label": "Title",
            "default": "Lorem ipsum dolor sit amet"
          },
          {
            "type": "richtext",
            "id": "content5",
            "label": "Content"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Vinova Tab With Accordion",
        "blocks": [
          {
            "type":"content",
            "settings":{
              "heading": "Lorem ipsum",
              "title1": "Lorem ipsum dolor sit amet",
              "content1": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet augue sit amet magna vestibulum pharetra. Vivamus ut est orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>",
              "title2": "Lorem ipsum dolor sit amet",
              "content2": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet augue sit amet magna vestibulum pharetra. Vivamus ut est orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>"
            }
          },
          {
            "type":"content",
            "settings":{
              "heading": "Lorem ipsum",
              "title1": "Lorem ipsum dolor sit amet",
              "content1": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet augue sit amet magna vestibulum pharetra. Vivamus ut est orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>",
              "title2": "Lorem ipsum dolor sit amet",
              "content2": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet augue sit amet magna vestibulum pharetra. Vivamus ut est orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>"
            }
          },
          {
            "type":"content",
            "settings":{
              "heading": "Lorem ipsum",
              "title1": "Lorem ipsum dolor sit amet",
              "content1": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet augue sit amet magna vestibulum pharetra. Vivamus ut est orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>",
              "title2": "Lorem ipsum dolor sit amet",
              "content2": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet augue sit amet magna vestibulum pharetra. Vivamus ut est orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>"
            }
          }
        ]
      }
    ]
  }
{% endschema %}