{%- liquid 
	assign sst = section.settings

	if sst.ss_bg_enable
	  assign bg = " bg"
	endif
	if sst.class_section != blank
	  assign class_section = sst.class_section | prepend: ' '
	endif
	assign class = 'distance' | append: bg | append: ' ' | append: sst.background_position | append: class_section
	if sst.background_size == 'full'
	  assign bg_class_full = class | prepend: ' '
	else
	  assign bg_class_contain = class | prepend: ' '
	endif
	
	assign xxl = sst.xxl
	assign xl = sst.xl
	assign lg = sst.lg
	assign md = sst.md
	assign sm = sst.sm
	assign xs = sst.xs
	assign row_number = sst.row_number
	assign row_mobile = sst.row_mobile
	assign limit = sst.limit

-%}
{% style %}
	{% render 'nov-section-style' %}
	
	@media(max-width: 575px) {
		.collection-carousel:not(.slick-initialized) .col:nth-child(3), .collection-carousel:not(.slick-initialized) .col:nth-child(4) {
			display: none;
		}
	}
	{% if sst.icon_top != blank %}
		#shopify-section-{{ section.id }} .icon-top {
			--max-width: {{ sst.icon_top_max_width }}px;
			--max-height: {{ sst.icon_top_max_height }}px;
		}
	{% endif %}
	{% if sst.enable_custom_style %}
	  #shopify-section-{{ section.id }} {
	    --product-color-border: {{ sst.product_border_color }};
	    --product-color-background: {{ sst.product_background_color }};
	    --product-color-type: {{ sst.product_type_color }};
	    --product-color-title: {{ sst.product_title_color }};
	    --product-color-title-hover: {{ sst.product_title_color_hover }};
	    --product-color-price: {{ sst.product_price_color }};
	    --product-color-reduced-price: {{ sst.product_price_reduced_color }};
	  }
	{% endif %}
	{% if sst.show_pagination_progress %}
    #shopify-section-{{ section.id }} .swiper-scrollbar {
      background: {{ sst.pagination_progress_bg }} !important;
    }
    #shopify-section-{{ section.id }} .swiper-scrollbar-drag {
      background: {{ sst.progress_bg }} !important;
    }
  {% endif %}
{% endstyle %}
<div class="color-{{ sst.color_section }}{{ bg_class_full }}" data-product-tabs data-section-id="{{ section.id }}" data-section-type="nov-slick">
	<div class="{{ sst.container }}">
		<div class="container-inner{{ bg_class_contain }}">

			  <div class="d-lg-flex align-items-end mb-55">
			    {% render 'heading-section', sub_position: sst.subheading_position, class: 'mb-0 mb-md-30' %}

					{% comment %} Nav tab{% endcomment %}
					<ul class="nav nav-tabs list-product-tabs d-none d-md-flex list-unstyled {{ sst.nav_style }}">
						{% for block in section.blocks %}
							<li class="nav-item position-relative">
								<a class="nav-link tab-links{% if forloop.first %} active{% endif %}{% if sst.nav_style == 'nav_1' %} box-shadow btn{% endif %} {{ sst.btn_type_nav }} {{ sst.btn_size_nav }} position-relative"
								data-product-tabTop
								href="#producttab{{ forloop.index }}{{ section.id }}"
								data-target="#producttab{{ forloop.index }}{{ section.id }}"
								data-href="/collections/{{ block.settings.collection_handle }}?view=tab"
								id="tab-{{ forloop.index }}{{ section.id }}"
								data-id="{{ forloop.index }}{{ section.id }}"
								data-toggle="tab"
								data-limit="{{ limit }}"
								title="{{ block.settings.tab_title }}">
									{% if sst.icon_top != blank %}
										<span class="icon-top d-flex justify-content-center">
											<img src="{{ sst.icon_top | image_url: width: 200 }}" alt="{{ sst.icon_top.alt | default: 'icon' }}" width="200" height="{{ 200 | divided_by: sst.icon_top.aspect_ratio }}" style="height: auto;">
										</span>
									{% endif %}
									<span{% if sst.icon_top != blank %} style="padding-bottom: {{ sst.icon_top_max_height }}px"{% endif %}>{{ block.settings.tab_title }}</span>
								</a>
							</li>
						{% endfor %}
					</ul>
					{% comment %} End Nav tab{% endcomment %}
			  </div>

			{% comment %} Nav mobile{% endcomment %}
			<div class="nav-mobile nov_ud_toggle d-md-none mb-50">
				<div class="nov_ud_group position-relative">
				  <div class="nov_ud_btn nav-mobile__title d-flex align-items-center justify-content-between w-100">
				  </div>
				  <div class="nov_ud_dropdown list-product-tabs w-100 p-0">
				    {% for block in section.blocks %}
			    		<a class="nav-link tab-links{% if forloop.first %} active{% endif %}"
			    		data-product-tabTop
			    		href="#producttab{{ forloop.index }}{{ section.id }}" 
			    		data-target="#producttab{{ forloop.index }}{{ section.id }}"
			    		data-href="/collections/{{ block.settings.collection_handle }}?view=tab"
			    		data-id="{{ forloop.index }}{{ section.id }}"
			    		data-toggle="tab">
			    			<span>{{ block.settings.tab_title }}</span>
			    		</a>
				    {% endfor %}
				  </div>
			  </div>
			</div>

			{% comment %} Product content {% endcomment %}

			<div class="product_tab_content position-relative {{ sst.dots_color }} {{ sst.arrow_color }}{% if sst.animate %} wow fadeInRight{% endif %}" style="--spacing: {{ sst.spacing }}px">
				{% for block in section.blocks %}
					<div class="tab-content{% if forloop.first %} active{% endif %}" data-product-TabContent id="producttab{{ forloop.index }}{{ section.id }}">
						<div class="products-grid grid--view-items swiper collection-carousel"
							data-items_xxl="{{ xxl }}"
							data-items_xl="{{ xl }}"
							data-items_lg="{{ lg }}"
							data-items_md="{{ md }}"
							data-items_sm="{{ sm }}"
							data-items_xs="{{ xs }}"
							data-row="{{ row_number }}"
							data-row_mobile="{{ row_mobile }}"
							data-loop="false"
							data-dots="{{ sst.show_dots }}"
							data-nav="{{ sst.show_nav }}"
							data-autoplay="false"
							data-spacing="{{ sst.spacing }}"
							data-spacing_mobile="15">
							{% assign limit_placehol = sst.xxl | times: row_number %}
							{%- for i in (1..limit_placehol) -%}
							  <div class="block mb-{{ sst.spacing }} position-relative {% render 'number-to-col' %}">
							   	<div class="imagelazyload" style="padding-top: 133.3333333%;"></div>
							  </div>
							{%- endfor -%}
						</div>
						{% if sst.show_dots %}
						  <div class="swiper-pagination mt-75"></div>
						{% endif %}
						
						{% if sst.show_pagination_progress or sst.show_nav %}
						<div class="d-flex align-items-center {% if sst.show_dots %}mt-30{% else %}mt-80{% endif %}">
						  {% if sst.show_pagination_progress %}
						    <div class="swiper-scrollbar position-static"></div>
						  {% endif %}
						  {% if sst.show_nav %}
						    <div class="slider-nav d-flex align-items-center justify-content-center">
						      <div class="nav-arrow nav-prev pointer"></div>
						      <div class="nav-arrow nav-next pointer"></div>
						    </div>
						  {% endif %}
						</div>
						{% endif %}
					</div>
				{% endfor %}
			</div>

			{% if sst.view_all_label != blank %}
				<div class="text-center mt-60">
					<a href="{{ sst.view_all_link }}" class="btn text-uppercase">
						<span class="font-700">{{ sst.view_all_label }}</span>
					</a>
				</div>
			{% endif %}
		</div>
	</div>
</div>

{% schema %}
{
	"name": "Vinova Collection Tabs",
	"class": "section-collection-tabs",
	"settings": [
		{
			"type": "richtext",
			"id": "heading",
			"label": "Heading",
			"default": "<p>Vinova Collection Tab</p>"
		},
		{
      "type": "color",
      "id": "heading_color",
      "label": "Heading color",
      "default": "#222222"
    },
		{
			"type": "richtext",
			"id": "subheading",
			"label": "Sub heading",
			"default": "<p>Subtitle from happy customers</p>"
		},
		{
      "type": "color",
      "id": "subheading_color",
      "label": "Sub heading color",
      "default": "#666666"
    },
    {
      "type": "select",
      "id": "subheading_position",
      "label": "Sub heading position",
      "default": "bottom",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading alignment",
      "default": "text-left",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ]
    },
		{
			"type":  "header",
			"content": "Product Item Per Row"
		},
		{
			"type": "range",
			"id": "xxl",
			"min": 1,
			"max": 6,
			"step": 1,
			"label": "Desktop",
			"default": 4,
			"info": "Breakpoint 1441px"
		},
		{
			"type": "range",
			"id": "xl",
			"min": 1,
			"max": 6,
			"step": 1,
			"label": "Large laptop",
			"default": 4,
			"info": "Breakpoint 1200px"
		},
		{
			"type": "range",
			"id": "lg",
			"min": 1,
			"max": 6,
			"step": 1,
			"label": "Laptop",
			"default": 3,
			"info": "Breakpoint 992px"
		},
		{
			"type": "range",
			"id": "md",
			"min": 1,
			"max": 6,
			"step": 1,
			"label": "Tablet",
			"default": 3,
			"info": "Breakpoint 768px"
		},
		{
			"type": "range",
			"id": "sm",
			"min": 1,
			"max": 6,
			"step": 1,
			"label": "Large mobile",
			"default": 2,
			"info": "Breakpoint 576px"
		},
		{
			"type": "range",
			"id": "xs",
			"min": 1,
			"max": 6,
			"step": 1,
			"label": "Mobile",
			"default": 2
		},
		{
			"type":  "header",
			"content": "Slider Options"
		},
		{
			"type": "range",
			"id": "row_number",
			"min": 1,
			"max": 6,
			"step": 1,
			"label": "Number row",
			"default": 1
		},
		{
			"type": "range",
			"id": "row_mobile",
			"min": 1,
			"max": 6,
			"step": 1,
			"label": "Number row mobile",
			"default": 1
		},
		{
			"type": "range",
			"id": "limit",
			"min": 4,
			"max": 30,
			"step": 1,
			"label": "Limit",
			"default": 30,
			"info": "Select number limit products"
	  },
		{
			"type": "range",
			"id": "spacing",
			"min": 0,
			"max": 30,
			"step": 5,
			"unit": "px",
			"label": "Spacing",
			"default": 30,
			"info": "Spacing item"
		},
		{
		  "type": "header",
		  "content": "Dots Slider"
		},
		{
			"type": "checkbox",
			"id": "show_dots",
			"label": "Show dots",
			"default": false
		},
		{
		  "type": "select",
		  "id": "dots_color",
		  "label": "Dots color",
		  "default": "dots_on_light",
		  "options": [
		    {"value": "dots_on_light","label": "Dots on light background"},
		    {"value": "dots_on_dark","label": "Dots on dark background"}
		  ]
		},
		{
		  "type": "header",
		  "content": "Arrow Slider"
		},
		{
			"type": "checkbox",
			"id": "show_nav",
			"label": "Show prev/next arrow",
			"default": true
		},
		{
		  "type": "select",
		  "id": "arrow_color",
		  "label": "Arrow color",
		  "default": "arrow_on_light",
		  "options": [
		    {"value": "arrow_on_light","label": "Dots on light background"},
		    {"value": "arrow_on_dark","label": "Dots on dark background"}
		  ]
		},
		{
		  "type": "header",
		  "content": "Pagination Progress"
		},
		{
		  "type": "checkbox",
		  "id": "show_pagination_progress",
		  "label": "Show pagination progress",
		  "default": false
		},
		{
		  "type": "color",
		  "id": "pagination_progress_bg",
		  "label": "Background pagination progress",
		  "default": "#eaeaee"
		},
		{
		  "type": "color",
		  "id": "progress_bg",
		  "label": "Background progress",
		  "default": "#000"
		},
		{
			"type":  "header",
			"content": "Nav Tab Style"
		},
		{
			"type": "select",
			"id": "nav_style",
			"label": "Nav style",
			"default": "nav_1",
			"options": [
				{ "value": "nav_1", "label": "Style 1" },
				{ "value": "nav_2", "label": "Style 2" }
			]
		},
		{
			"type": "paragraph",
			"content": "=======  Nav Style 1 ========"
		},
		{
		  "type": "select",
		  "id": "btn_type_nav",
		  "label": "Button type",
		  "default": "btn-primary",
		  "options": [
		    { "value": "btn-primary", "label": "Primary" },
		    { "value": "btn-secondary", "label": "Secondary" }
		  ]
		},
		{
		  "type": "select",
		  "id": "btn_size_nav",
		  "label": "Button size",
		  "default": "btn-normal",
		  "options": [
		    { "value": "btn-normal", "label": "Normal" },
		    { "value": "btn-medium", "label": "Medium" },
		    { "value": "btn-large", "label": "Large" }
		  ]
		},
		{
			"type": "paragraph",
			"content": "=======  Icon ========"
		},
		{
			"type": "image_picker",
			"id": "icon_top",
			"label": "Nav icon"
		},
		{
		  "type": "range",
		  "id": "icon_top_max_width",
		  "min": 15,
		  "max": 50,
		  "step": 1,
		  "label": "Icon max width",
		  "default": 30,
		  "unit": "px"
		},
		{
		  "type": "range",
		  "id": "icon_top_max_height",
		  "min": 15,
		  "max": 50,
		  "step": 1,
		  "label": "Icon max height",
		  "default": 30,
		  "unit": "px"
		},
		{
      "type": "header",
      "content": "Product Item Custom Style"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_style",
      "label": "Enable custom style"
    },
    {
      "type": "color",
      "id": "product_border_color",
      "label": "Border color",
      "default": "#d2d2d2",
      "info": "In case the show border option is enabled"
    },
    {
      "type": "color",
      "id": "product_background_color",
      "label": "Background color",
      "default": "#d4d4d4",
      "info": "In case the show background option is enabled"
    },
    {
      "type": "color",
      "id": "product_title_color",
      "label": "Title color",
      "default": "#222"
    },
    {
      "type": "color",
      "id": "product_title_color_hover",
      "label": "Title color hover",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "product_type_color",
      "label": "Type color",
      "default": "#222",
      "info": "In case the show type option is enabled"
    },
    {
      "type": "color",
      "id": "product_price_color",
      "label": "Price color",
      "default": "#222"
    },
    {
      "type": "color",
      "id": "product_price_reduced_color",
      "label": "Reduced price color",
      "default": "#222"
    },
    {
      "type": "header",
      "content": "Button Bottom"
    },
    {
  		"type": "text",
  		"id": "view_all_label",
  		"label": "Button label"
  	},
  	{
  	  "type": "url",
  	  "id": "view_all_link",
  	  "label": "Button link"
  	},
		{
			"type":  "header",
			"content": "Section Style"
		},
		{
			"type": "checkbox",
			"id": "animate",
			"label": "Show animated",
			"default":   false
		},
		{
			"type": "select",
			"id": "container",
			"label": "Container",
			"default": "container",
			"options": [
				{ "value": "container", "label": "Container" },
				{ "value": "container-fluid", "label": "Container fluid" },
				{ "value": "container-full", "label": "Container full width" }
			]
		},
		{
		  "type": "color_scheme",
		  "id": "color_section",
		  "label": "Color section",
		  "default": "background-1"
		},
		{
      "type": "text",
      "id": "class_section",
      "label": "Class"
    },
    {
      "type":  "header",
      "content": "Section Background"
    },
    {
      "type": "checkbox",
      "id": "ss_bg_enable",
      "label": "Enable"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background colors",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "range",
      "id": "background_corner",
      "min": 0,
      "max": 50,
      "step": 1,
      "label": "Corner background",
      "unit": "px",
      "default": 0
    },
    {
      "type": "select",
      "id": "background_img_size",
      "label": "Background image size",
      "default": "cover",
      "options": [
        { "value": "auto", "label": "Auto" },
        { "value": "cover", "label": "Cover" },
        { "value": "contain", "label": "Contain" }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_background_img_size_custom",
      "label": "Enable background image size custom"
    },
    {
      "type": "text",
      "id": "background_img_size_custom",
      "label": "Background image size custom",
      "info": "Replace base background size, unit % or px"
    },
    {
      "type": "select",
      "id": "background_img_position",
      "label": "Background image position",
      "default": "center center",
      "options": [
        { "value": "top left", "label": "Top left" },
        { "value": "top center", "label": "Top center" },
        { "value": "top right", "label": "Top right" },
        { "value": "center left", "label": "Center left" },
        { "value": "center center", "label": "Center middle" },
        { "value": "center right", "label": "Center right" },
        { "value": "bottom left", "label": "Bottom left" },
        { "value": "bottom center", "label": "Bottom center" },
        { "value": "bottom right", "label": "Bottom right" }
      ]
    },
    {
      "type": "select",
      "id": "background_position",
      "label": "Background position",
      "default": "bg-center",
      "options": [
        { "value": "bg-top", "label": "Top" },
        { "value": "bg-center", "label": "Center" },
        { "value": "bg-bottom", "label": "Bottom" }
      ]
    },
    {
      "type": "select",
      "id": "background_size",
      "label": "Background size",
      "default": "full",
      "options": [
        { "value": "full", "label": "Full" },
        { "value": "contain", "label": "Contain"}
      ]
    },
    {
      "type": "range",
      "id": "height_background_xxl",
      "min": 10,
      "max": 100,
      "step": 1,
      "label": "Height background",
      "default": 100,
      "unit": "%",
      "info": "Breakpoint 1441px ↑"
    },
    {
      "type": "range",
      "id": "height_background_xl",
      "min": 10,
      "max": 100,
      "step": 1,
      "label": "Height background",
      "default": 100,
      "unit": "%",
      "info": "Breakpoint 1200px ↑"
    },
    {
      "type": "range",
      "id": "height_background_lg",
      "min": 10,
      "max": 100,
      "step": 1,
      "label": "Height background",
      "default": 100,
      "unit": "%",
      "info": "Breakpoint 992px ↑"
    },
    {
      "type": "range",
      "id": "height_background_md",
      "min": 10,
      "max": 100,
      "step": 1,
      "label": "Height background",
      "default": 100,
      "unit": "%",
      "info": "Breakpoint 768px ↑"
    },
    {
      "type": "range",
      "id": "height_background_sm",
      "min": 10,
      "max": 100,
      "step": 1,
      "label": "Height background",
      "default": 100,
      "unit": "%",
      "info": "Breakpoint 576px ↑"
    },
    {
      "type": "range",
      "id": "height_background_xs",
      "min": 10,
      "max": 100,
      "step": 1,
      "label": "Height background",
      "default": 100,
      "unit": "%",
      "info": "Breakpoint 575px ↓"
    },
    {
      "type": "header",
      "content": "Spacing Top (px)"
    },
    {
      "type": "number",
      "id": "distance_top_xl",
      "label": "Large laptop",
      "default": 30,
      "info": "Breakpoint 1200px"
    },
    {
      "type": "number",
      "id": "distance_top_lg",
      "label": "Laptop",
      "default": 30,
      "info": "Breakpoint 992px"
    },
    {
      "type": "number",
      "id": "distance_top_md",
      "label": "Tablet",
      "default": 30,
      "info": "Breakpoint 768px"
    },
    {
      "type": "number",
      "id": "distance_top_sm",
      "label": "Mobile",
      "default": 30
    },
    {
      "type": "header",
      "content": "Spacing Bottom (px)"
    },
    {
      "type": "number",
      "id": "distance_bottom_xl",
      "label": "Large laptop",
      "default": 30,
      "info": "Breakpoint 1200px"
    },
    {
      "type": "number",
      "id": "distance_bottom_lg",
      "label": "Laptop",
      "default": 30,
      "info": "Breakpoint 992px"
    },
    {
      "type": "number",
      "id": "distance_bottom_md",
      "label": "Tablet",
      "default": 30,
      "info": "Breakpoint 768px"
    },
    {
      "type": "number",
      "id": "distance_bottom_sm",
      "label": "Mobile",
      "default": 30
    }
	],
	"blocks": [
		{
			"type": "tabitem",
			"name": "Tab Item",
			"settings": [
				{
					"type": "text",
					"id": "tab_title",
					"label": "Tab title"
				},
				{
					"type": "collection",
					"id": "collection_handle",
					"label": "Collection"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Vinova Collection Tabs",
			"category": "Collection",
			"blocks": [
				{
					"type":"tabitem",
					"settings":{
						"tab_title": "Tab one",
						"collection_handle": "frontpage"
					}
				},
				{
					"type":"tabitem",
					"settings":{
						"tab_title": "Tab Two",
						"collection_handle": "frontpage"
					}
				}
			]
		}
	]
}
{% endschema %}