{%- liquid 
  assign sst = section.settings

  if section.settings.ss_bg_enable
    assign bg = " bg"
  endif
  if section.settings.class_section != blank
    assign class_section = section.settings.class_section | prepend: ' '
  endif
  assign class = 'distance' | append: bg | append: ' ' | append: section.settings.background_position | append: class_section
  if section.settings.background_size == 'full'
    assign bg_class_full = class | prepend: ' '
  else
    assign bg_class_contain = class | prepend: ' '
  endif
-%}
{% style %}
  {% render 'nov-section-style' %}
  .section-product-group .slick-list {
    margin: -10px -5px;
    padding: 10px 5px;
  }
  .section-product-group .title_section .title {
    font-size: 3rem;
  }
{% endstyle %}

{% assign sst = section.settings %}
{% if sst.group_xl == 5 %}
  {%- assign group_xl = 'col-xl-cus-5' -%}
{% else %}
  {%- assign group_xl = 12 | divided_by: sst.group_xl | prepend: 'col-xl-' -%}
{% endif %}
{% if sst.grid == 5 %}
  {%- assign group_lg = 'col-lg-cus-5' -%}
{% else %}
  {%- assign group_lg = 12 | divided_by: sst.group_lg | prepend: 'col-lg-' -%}
{% endif %}
{% if sst.group_md == 5 %}
  {%- assign group_md = 'col-md-cus-5' -%}
{% else %}
  {%- assign group_md = 12 | divided_by: sst.group_md | prepend: 'col-md-' -%}
{% endif %}
{% if sst.group_sm == 5 %}
  {%- assign group_sm = 'col-sm-cus-5' -%}
{% else %}
  {%- assign group_sm = 12 | divided_by: sst.group_sm | prepend: 'col-sm-' -%}
{% endif %}
{% if sst.group_xs == 5 %}
  {%- assign group_xs = 'col-xs-cus-5' -%}
{% else %}
  {%- assign group_xs = 12 | divided_by: sst.group_xs | prepend: 'col-' -%}
{% endif %}
<div class="{{ bg_class_full }}{% if sst.animate %} wow fadeInUp{% endif %}" data-section-id="{{ section.id }}" data-section-type="nov-slick">
  <div class="{{ sst.container }}">
    <div class="container-inner{{ bg_class_contain }}">

      <div class="row">
        {% for block in section.blocks %}
          {% assign bst = block.settings %}
          <div class="{{ group_xl }} {{ group_lg }} {{ group_md }} {{ group_sm }} {{ group_xs }} {{ bst.group_class }}">
            <div class="block block-{{ forloop.index }}">
              {%- assign category = bst.collection_handle -%}
              <div class="title_section text-center mb-25">
                <span class="title font-500" style="color: {{ bst.title_c }}">{{ bst.title }}</span>
              </div>
              <div class="list--view-items row nov-slick-carousel spacing-30"
              data-autoplay="false" 
              data-autoplayTimeout="6000" 
              data-loop="false"
              data-dots="false" 
              data-nav="false" 
              data-row="{{ sst.row_number }}" 
              data-row_mobile="{{ sst.row_mobile }}"
              data-items_xxl="{{ sst.xxl }}"
              data-items_xl="{{ sst.xl }}"
              data-items_lg="{{ sst.lg }}"
              data-items_md="{{ sst.md }}"
              data-items_sm="{{ sst.sm }}"
              data-items_xs="{{ sst.xs }}">
                {% for product in collections[category].products limit:sst.limit %}
                  <div class="block">
                    <div>
                      <div class="item sp-item">
                        {% render 'product-list-item-style-1', product: product, section_id: section.id %}
                      </div>
                    </div>
                  </div>
                {% else %}
                  {%- for i in (1..4) -%}
                    {%- capture current -%}{% cycle 1, 2, 3, 4 %}{%- endcapture -%}
                    <div class="col">
                      <div class="item-product d-flex align-items-center">
                        <div class="thumbnail-container">
                        {{ 'product-apparel-' | append: current | placeholder_svg_tag : 'placeholder-svg' }}
                        </div>
                        <div class="product__info mt-20">
                          <div class="product__title"><a href="#" tabindex="0"><span>Lorem ipsum alimet</span></a></div>
                          <div class="price-box mt-5">
                            <div class="price-sale">
                              <span class="special-price" data-price-grid=""><span class="money" data-currency-usd="$100.00">$100.00</span></span>
                              <span class="old-price" data-compare-price-grid=""><span class="money" data-currency-usd="$150.00">$150.00</span></span>
                            </div>
                          </div>
                        </div>  
                      </div>
                    </div>
                  {%- endfor -%}
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Group",
  "class": "section-product-group",
  "max_blocks": 4,
  "settings": [
    {
      "type": "text",
      "id": "limit",
      "label": "Product limit",
      "default": "6"
    },
    {
      "type": "header",
      "content": "Group per row"
    },
    {
      "type": "range",
      "id": "group_xl",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Large laptop",
      "default": 3,
      "info": "Breakpoint 1200px"
    },
    {
      "type": "range",
      "id": "group_lg",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Laptop",
      "default": 3,
      "info": "Breakpoint 992px"
    },
    {
      "type": "range",
      "id": "group_md",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "Tablet",
      "default": 2,
      "info": "Breakpoint 768px"
    },
    {
      "type": "range",
      "id": "group_sm",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "Large mobile",
      "default": 1,
      "info": "Breakpoint 576px"
    },
    {
      "type": "range",
      "id": "group_xs",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "Mobile",
      "default": 1
    },
    {
      "type":  "header",
      "content": "Product Item Per Row"
    },
    {
      "type": "range",
      "id": "xxl",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "Desktop",
      "default": 1,
      "info": "Breakpoint 1441px"
    },
    {
      "type": "range",
      "id": "xl",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "Large laptop",
      "default": 1,
      "info": "Breakpoint 1200px"
    },
    {
      "type": "range",
      "id": "lg",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "Laptop",
      "default": 1,
      "info": "Breakpoint 992px"
    },
    {
      "type": "range",
      "id": "md",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "Tablet",
      "default": 2,
      "info": "Breakpoint 768px"
    },
    {
      "type": "range",
      "id": "sm",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "Large mobile",
      "default": 2,
      "info": "Breakpoint 576px"
    },
    {
      "type": "range",
      "id": "xs",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "Mobile",
      "default": 2
    },
    {
      "type": "select",
      "id": "row_number",
      "label": "Number row",
      "default": "2",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        }
      ]
    },
    {
    "type": "header",
    "content": "Section Style"
    },
    {
      "type": "checkbox",
      "id": "animate",
      "label": "Show animated",
      "default": true
    },
    {
      "type": "select",
      "id": "container",
      "label": "Container",
      "default": "container",
      "options": [
        { "value": "container", "label": "Container" },
        { "value": "container-fluid", "label": "Container fluid" },
        { "value": "container-full", "label": "Container full width" }
      ]
    },
    {
      "type": "text",
      "id": "class_section",
      "label": "Class"
    },
    {
      "type":  "header",
      "content": "Section Background"
    },
    {
      "type": "checkbox",
      "id": "ss_bg_enable",
      "label": "Enable"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background colors",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "range",
      "id": "background_corner",
      "min": 0,
      "max": 50,
      "step": 1,
      "label": "Corner background",
      "unit": "px",
      "default": 0
    },
    {
      "type": "select",
      "id": "background_img_size",
      "label": "Background image size",
      "default": "cover",
      "options": [
        { "value": "auto", "label": "Auto" },
        { "value": "cover", "label": "Cover" },
        { "value": "contain", "label": "Contain" }
      ]
    },
    {
      "type": "text",
      "id": "background_img_size_custom",
      "label": "Background image size custom",
      "info": "Replace base background size, unit % or px"
    },
    {
      "type": "select",
      "id": "background_img_position",
      "label": "Background image position",
      "default": "center center",
      "options": [
        { "value": "top left", "label": "Top left" },
        { "value": "top center", "label": "Top center" },
        { "value": "top right", "label": "Top right" },
        { "value": "center left", "label": "Center left" },
        { "value": "center center", "label": "Center middle" },
        { "value": "center right", "label": "Center right" },
        { "value": "bottom left", "label": "Bottom left" },
        { "value": "bottom center", "label": "Bottom center" },
        { "value": "bottom right", "label": "Bottom right" }
      ]
    },
    {
      "type": "select",
      "id": "background_position",
      "label": "Background position",
      "default": "bg-center",
      "options": [
        { "value": "bg-top", "label": "Top" },
        { "value": "bg-center", "label": "Center" },
        { "value": "bg-bottom", "label": "Bottom" }
      ]
    },
    {
      "type": "select",
      "id": "background_size",
      "label": "Background size",
      "default": "full",
      "options": [
        { "value": "full", "label": "Full" },
        { "value": "contain", "label": "Contain"}
      ]
    },
    {
      "type": "range",
      "id": "height_background_xxl",
      "min": 10,
      "max": 100,
      "step": 1,
      "label": "Height background",
      "default": 100,
      "unit": "%",
      "info": "Breakpoint 1441px ↑"
    },
    {
      "type": "range",
      "id": "height_background_xl",
      "min": 10,
      "max": 100,
      "step": 1,
      "label": "Height background",
      "default": 100,
      "unit": "%",
      "info": "Breakpoint 1200px ↑"
    },
    {
      "type": "range",
      "id": "height_background_lg",
      "min": 10,
      "max": 100,
      "step": 1,
      "label": "Height background",
      "default": 100,
      "unit": "%",
      "info": "Breakpoint 992px ↑"
    },
    {
      "type": "range",
      "id": "height_background_md",
      "min": 10,
      "max": 100,
      "step": 1,
      "label": "Height background",
      "default": 100,
      "unit": "%",
      "info": "Breakpoint 768px ↑"
    },
    {
      "type": "range",
      "id": "height_background_sm",
      "min": 10,
      "max": 100,
      "step": 1,
      "label": "Height background",
      "default": 100,
      "unit": "%",
      "info": "Breakpoint 576px ↑"
    },
    {
      "type": "range",
      "id": "height_background_xs",
      "min": 10,
      "max": 100,
      "step": 1,
      "label": "Height background",
      "default": 100,
      "unit": "%",
      "info": "Breakpoint 575px ↓"
    },
    {
      "type": "header",
      "content": "Spacing Top (px)"
    },
    {
      "type": "number",
      "id": "distance_top_xl",
      "label": "Large laptop",
      "default": 30,
      "info": "Breakpoint 1200px"
    },
    {
      "type": "number",
      "id": "distance_top_lg",
      "label": "Laptop",
      "default": 30,
      "info": "Breakpoint 992px"
    },
    {
      "type": "number",
      "id": "distance_top_md",
      "label": "Tablet",
      "default": 30,
      "info": "Breakpoint 768px"
    },
    {
      "type": "number",
      "id": "distance_top_sm",
      "label": "Mobile",
      "default": 30
    },
    {
      "type": "header",
      "content": "Spacing Bottom (px)"
    },
    {
      "type": "number",
      "id": "distance_bottom_xl",
      "label": "Large laptop",
      "default": 30,
      "info": "Breakpoint 1200px"
    },
    {
      "type": "number",
      "id": "distance_bottom_lg",
      "label": "Laptop",
      "default": 30,
      "info": "Breakpoint 992px"
    },
    {
      "type": "number",
      "id": "distance_bottom_md",
      "label": "Tablet",
      "default": 30,
      "info": "Breakpoint 768px"
    },
    {
      "type": "number",
      "id": "distance_bottom_sm",
      "label": "Mobile",
      "default": 30
    }
  ],
  "blocks": [
    {
      "type": "product_group",
      "name": "Product Group ",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Group title",
          "default": "Lorem ipsum"
        },
        {
          "type": "color",
          "id": "title_c",
          "label": "Title color",
          "default": "#000"
        },
        {
          "type": "collection",
          "id": "collection_handle",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "group_class",
          "label": "Class"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Vinova Product Group",
      "category": "Collection",
      "blocks": [
        {
          "type":"product_group",
          "settings":{
            "title": "Product List 1",
            "title_c": "#2BD41D"
          }
        },
        {
          "type":"product_group",
          "settings":{
            "title": "Product List 2",
            "title_c": "#ED0000"
          }
        },
        {
          "type":"product_group",
          "settings":{
            "title": "Product List 3",
            "title_c": "#0054FF"
          }
        }
      ]
    }
  ]
}
{% endschema %}